# Slike i fajlovi koje kamera generise

*.jpg

*.png

# Python kompajlirani fajlovi

__pycache__/

*.pyc

# Sistemski fajlovi 

.DS_Store

.venv/

.env

# Text editori

.vscode/

.idea/


# --- Maven  fajlovi ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
application.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- Eclipse  fajlovi ---
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
.factorypath

# --- Logovi i privremeni fajlovi ---
*.log
logs/
temp/
